<footer class="footer">
        <div class="footer-wrapper-top">
            <div class="flexible-container clearfix">
                <h3 class="footer__title section__title">
                    Центр противопожарной защиты
                </h3>
                <p class="footer__address">
                    654005, Россия, Кемеровская область, г. Новокузнецк, пр. Строителей 7/1а
                </p>
                <p class="footer__phone__numbers">
                      <% locals.info.phones.forEach(function(phone) { %> 
                        <a class="footer__phone__entry" href="tel:<%= phone.number %>">
                            <%- phone.text %>
                        </a>
                      <% }) %>
                  </p>
                <p class="copyright__contact">
                  <a href="mailto:<%= info.email %>"><%= info.email %></a>
                </p>
            </div>
        </div>
          <div class="footer-wrapper">
            <div class="flexible-container clearfix">
              <div class="copyleft">
                <p class="copyright__contact">
                    &copy;
                    <%= info.year %>,
                    <%= info.copyright %>
                </p>
              </div>
              <%# <div class="madein clearfix">
                <p>
                  Сделано в
                  <a target="_blank" href="https://r5m.me">R5M group</a>
                </p>
              </div> %>
            </div>
          </div>
    
</footer>
