<footer class="footer">
        <div class="footer-wrapper-top">
            <div class="flexible-container clearfix">
            	
                <h3 class="footer__title section__title">
                    Центр противопожарной защиты
                </h3>
                <p class="footer__address">
                    654005, Россия, Кемеровская область, г. Новокузнецк, пр. Строителей 7/1а
                </p>
                <p class="footer__phone__numbers">
                      <% locals.info.phones.forEach(function(phone) { %>
                        <a class="footer__phone__entry" href="tel:<%= phone.number %>">
                            <%- phone.text %>
                        </a><br/>
                      <% }) %>
                  </p>
                <p class="copyright__contact">
                  <a href="mailto:<%= info.email %>"><%= info.email %></a>
                </p>
                <p class="header__order__vk">
                  <a href="https://vk.com/cpznk">
                    Мы Вконтакте
                    <span class="vk-wrapper">
                      <img class="vk-wrapper__img" src="images/vk_white.png"/>
                    </span>
                  </a>
                </p>
            </div>
        </div>
          <div class="footer-wrapper">
            <div class="flexible-container clearfix">
            	<p style="font-size: 0.9em; color: #666; line-height: 1em; max-width: 600px; text-align:justify">
                    Находясь на сайте, вы соглашаетесь с тем, что данный сайт собирает метаданные клиентов, 
                    обрабатываемые в соответствии с <a style="color: inherit" target="_blank" href="/images/eua.pdf">соглашением об обработке персональных данных</a>. Если вы не согласны со сбором метаданных сайтом, покиньте его. В противном случае вы принимаете соглашение об обработке персональных данных.
                </p>
                <p style="font-size: 0.8em; color: #666; line-height: 1em; max-width: 600px; text-align:justify">
                    <a style="color: inherit" target="_blank" href="/images/pd.pdf" class="webmaster-link">Политика обработки персональных данных</a><br/>
        			<a style="color: inherit" target="_blank" href="/images/eua.pdf" class="webmaster-link">Пользовательское соглашение</a><br/>
    				<a style="color: inherit" target="_blank" href="https://milikhin.name" class="webmaster-link">Разработка и сопровождение сайта</a>
                </p>
              <div class="copyleft">
                <p class="copyright__contact">
                    &copy;
                    <%= info.year %>,
                    <%= info.copyright %>
                </p>
              </div>
              <%# <div class="madein clearfix">
                <p>
                  Сделано в
                  <a target="_blank" href="https://r5m.me">R5M group</a>
                </p>
              </div> %>
            </div>
          </div>

</footer>
